In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle

In [65]:
# here the seperator in csv file is ; so we used sep=';'
train_data = pd.read_csv("bank-additional-full.csv",sep=';')
train_data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [0]:
train_data['job']=train_data['job'].astype('category').cat.codes
train_data['marital']=train_data['marital'].astype('category').cat.codes
train_data['education']=train_data['education'].astype('category').cat.codes
train_data['default']=train_data['default'].astype('category').cat.codes
train_data['housing']=train_data['housing'].astype('category').cat.codes
train_data['loan']=train_data['loan'].astype('category').cat.codes
train_data['contact']=train_data['contact'].astype('category').cat.codes
train_data['month']=train_data['month'].astype('category').cat.codes
train_data['day_of_week']=train_data['day_of_week'].astype('category').cat.codes

#train_data['campaign']=train_data['campaign'].astype('category').cat.codes
#train_data['pdays']=train_data['pdays'].astype('category').cat.codes
train_data['poutcome']=train_data['poutcome'].astype('category').cat.codes

#train_data['emp.var.rate']=train_data['emp.var.rate'].astype('category').cat.codes
#train_data['cons.price.idx']=train_data['cons.price.idx'].astype('category').cat.codes
#train_data['cons.conf.idx']=train_data['cons.conf.idx'].astype('category').cat.codes
#train_data['euribor3m']=train_data['euribor3m'].astype('category').cat.codes
#train_data['nr.employed']=train_data['nr.employed'].astype('category').cat.codes

train_data['y']=train_data['y'].astype('category').cat.codes

In [0]:
#np.shape(train_data)
#train_data.replace('unknown','NaN')
#train_data.dropna(inplace=True)
#np.shape(train_data)

By dropping the raws containing 'unknown', We are losing 25% of the data. im additon to that,accuracy also drops to 88%. So, here we will not drop unknown values.

In [68]:
correlation = train_data.corr()
#correlation of output with other columns
correlation['y']

age               0.030399
job               0.025122
marital           0.046203
education         0.057799
default          -0.099352
housing           0.011552
loan             -0.004909
contact          -0.144773
month            -0.006065
day_of_week       0.015967
duration          0.405274
campaign         -0.066357
pdays            -0.324914
previous          0.230181
poutcome          0.129789
emp.var.rate     -0.298334
cons.price.idx   -0.136211
cons.conf.idx     0.054878
euribor3m        -0.307771
nr.employed      -0.354678
y                 1.000000
Name: y, dtype: float64

Fom above correlation we can eliminate the values which are close to zero(both positive side and negative side). And we  also came to know that 'duration' is most import in predicting the outcome.

In [0]:
#train_data = train_data.drop ('cons.conf.idx' , axis = 1)
train_data = train_data.drop('loan',axis=1)
train_data = train_data.drop ('month' , axis =1)
train_data = train_data.drop ('day_of_week' , axis = 1)
train_data = train_data.drop ('housing' , axis = 1)

In [70]:

train_data.head()

,age,job,marital,education,default,contact,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,3,1,0,0,1,261,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
1,57,7,1,3,1,1,149,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
2,37,7,1,3,0,1,226,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
3,40,0,1,1,0,1,151,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
4,56,7,1,3,0,1,307,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0

In [0]:
# spliting the training data into input and target variable
X = train_data.iloc[:,:-1]
y = train_data.iloc[:,-1]
y= np.asarray(y)

In [0]:

#stratify=True results in consistent class distribution between training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

In [73]:
from sklearn.ensemble import RandomForestClassifier 
model0=RandomForestClassifier(n_estimators=100)
model0.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [74]:
#accuracy of random forest classifier
y_pred_prob = model0.predict_proba(X_test)
y_pred = []

#Here we set classifer threshold to be 0.75. It means that the model will predict with 75% confidence that customer will make the deposit or not.
for i in range(0,len(y_pred_prob)):
  if y_pred_prob[i][0]>=y_pred_prob[i][1] :
    y_pred.append(0)
  elif y_pred_prob[i][1]< 0.75:
    y_pred.append(0)
  else:
    y_pred.append(1)


#y_pred will be the final prediction of the model  
y_pred
   
    
print('Acording to our model, out of {} customers, {} customers are very likely to make the deposit.'.format(len(y_pred),sum(y_pred)))

print("Accuracy of this model is {}".format(model0.score(X_test,y_test)))

Acording to our model, out of 8238 customers, 213 customers are very likely to make the deposit.
Accuracy of this model is 0.9208545763534839